.container {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
  }

.question {
    margin-bottom: 20px;
    display: block;
  }
  
  .answer-button-container {
    margin-top: 10px;
    display: inline-block;
    flex-wrap: wrap;
  }
  
  .answer-button {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .correct-answer {
    background-color: #4caf50;
    color: #fff;
  }
  
  .wrong-answer {
    background-color: #f44336;
    color: #fff;
  }
  
  .score {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .red-score {
    color: #f44336;
  }
  
  .yellow-score {
    color: #ff9800;
  }
  
  .green-score {
    color: #4caf50;
  }
  
  .redirect-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .redirect-button:hover {
    background-color: #0056b3;
  }
  